__pycache__/
*.py[cod]

 Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

.env
*.sqlite3

 Pytest
.cache
*.egg-info/
*.egg

/static/
media/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

htmlcov/
.coverage

*.log

.ipynb_checkpoints
